<h4><%=event.description%></h4>

<b>Event Date: </b><%= event.date.strftime("%A") %>, <%= event.date.strftime("%B")%> <%= event.date.day %> 
of <%= event.date.strftime("%Y") %>


<% if current_user && !current_user.attended_events.where(id: event.id).any? %> <!-- User exists and is not in the event -->

<%= link_to "Count me in!", {:controller => "pages", :action => "go_to", :event=> event}  %>

<% elsif current_user && event.creator!=current_user %>

<p><b> Going! </b>
<%= link_to "Changed my mind!", {:controller => "pages", :action => "dont_go", :event=> event}  %>
</p>
<% end %>

<p> Created by: <%= event.creator.name  %></p>