<h1> Invite Users </h2>

<%= form_for(@invitation) do |f| %>


<%= f.label :event %>
<%= f.select :event, options_for_select(@event_options) %>

<%= f.label :user %>
<%= f.select :user, options_for_select(@names_options) %>

<%= f.submit "Send" %>

<% end %>


<h3>Reference: Try to add boxes with event/user name inside them instead of dropdowns</h3>


<h1> Pending Invitations </h1>

<!-- User has invitations pending, show:1 -->

<% current_user.invited_events.future.each  do |invites|  %>
<% invite=Invitation.find_by(event_id: invites.id, user_id: invites.user_id) %>

<% if invite && invite.show==1 %>
<%= render 'invitations', event: invites%>
<% end %>

<% end %>
<!-- -->

<h1> Invitations Sent</h1>

<% if Invitation.find_by(inviter: current_user.id) %>

<% Invitation.where(inviter: current_user.id).each do |invites| %>

<% event=Event.where(id: invites.event_id).take %>
<p> 
<%= render 'invitations', event: event%>
</p>

<% end %>
<% end %>
