<div class="btn-group">

<% if current_user %>
<button type="button" class="btn btn-primary btn-lg"><%= link_to current_user.name, current_user %></button>

<button type="button" class="btn btn-primary btn-lg"><%= link_to "Log Out", root_path %></button>

<button type="button" class="btn btn-primary btn-lg"><%= link_to "New Event", new_event_path %></button>

<button type="button" class="btn btn-primary btn-lg"><%= link_to "All Events", events_path %></button>

<% else %>

<button type="button" class="btn btn-primary btn-lg"><%= link_to "Home", root_path %></button>

<button type="button" class="btn btn-primary btn-lg"><%= link_to "All Events", events_path %></button>

<% end %>

</div>
